<h1>
  Please re-enter your bank account details to receive your equity buyback payment of
  <%= Money.from_amount(@amount, @currency).format(with_currency: true, symbol: false, no_cents_if_whole: true) %>
  from <%= @company.name %>
</h1>
<dl>
  </dd>
  <dt>Equity buyback amount</dt>
  <dd>
    <%= cents_format(@net_amount_in_usd_cents, with_currency: true, symbol: false) %>
  </dd>
  <dt>Payment method</dt>
  <dd>
    ****<%= @equity_buyback_payment.recipient_last4 %>
  </dd>
</dl>
<p>
  There was an issue with your bank account details preventing the processing of your equity buyback payment.
  Please log into your account to re-enter your bank details.
</p>

<p>
  We'll try to process your payment again after you update your bank details.
</p>

<%= render "shared/email_signature" %>
