<h1>
  Congratulations! Your investment in <%= @company.name %> has generated a distribution.
</h1>

<p>
  <%= @company.display_name %> is pleased to announce a distribution!
  <b>Based on your investment of
  <%= cents_format(@company_investor.investment_amount_in_cents, no_cents_if_whole: false) %>,
  you've received a distribution of <%= cents_format(@gross_amount_in_cents, no_cents_if_whole: false) %></b>.
</p>
<dl>
  <dt>Investment amount</dt>
  <dd><%= cents_format(@company_investor.investment_amount_in_cents, no_cents_if_whole: false) %></dd>

  <dt>Cumulative ROI <%= @roi_note %></dt>
  <dd>
    <%= (@roi * 100.0).round(2) %>%
  </dd>

  <dt>Distribution amount</dt>
  <dd><%= cents_format(@gross_amount_in_cents, no_cents_if_whole: false) %></dd>

  <dt>Taxes withheld</dt>
  <dd><%= cents_format(@tax_amount_in_cents, no_cents_if_whole: false) %></dd>

  <dt>Total to be paid</dt>
  <dd><%= cents_format(@net_amount_in_cents, no_cents_if_whole: false) %></dd>
</dl>
<p>
  This amount will be deposited into your chosen payout method, minus any taxes (if applicable).
</p>
<p><strong>To avoid delays in your payment, make sure to review the following:</strong></p>
<ul>
  <li>
    Your payout method is up to date
    <% if @user.bank_account_for_dividends %>
      (your distribution will be paid to a bank account ending in ***<%= @user.bank_account_for_dividends.last_four_digits %>)
    <% end %>
  </li>
  <li>
    You're comfortable with your minimum payout threshold (your current threshold is <%= cents_format(@user.minimum_dividend_payment_in_cents, no_cents_if_whole: false) %>)
  </li>
  <% if @tax_amount_in_cents.positive? %>
    <li>
      <b>You're comfortable with your tax withholding amount</b><br>
      Update your tax info in order to update your tax withholding amount
    </li>
  <% end %>
</ul>
<p>
      If the balance in your Flexile account is below your minimum threshold, the balance will
    not be paid out and will accumulate instead.
</p>
<p>
  If the amount in your Flexile account is higher than the distribution noted above, it
means your distribution was not claimed last year. To receive your full balance, please
ensure your banking details are on file and that your minimum threshold is set below
your current account balance.
</p>
<p>
  Please update your account information within 10 days, after which we will process your distribution.
</p>
<%= link_to("Review my settings", "#{PROTOCOL}://#{DOMAIN}/settings/tax", class: "button outline") %>
<p>
  If you have any questions or need assistance regarding the distribution process,
  please reply to this email.
</p>

<p class="mb-4">
  Stay Salty,<br>
  The Flexile Team
</p>
