<p>Hello <%= @user.name %>,</p>
<p><strong>Your <%= cents_format(@dividend_amount_in_cents, no_cents_if_whole: false) %> distribution from <%= @company.display_name %> is on hold.</strong></p>
<% if @withholding_percentage > 0 %>
  <p>Your investment has generated a <%= cents_format(@dividend_amount_in_cents, no_cents_if_whole: false) %> distribution. <strong>After <%= @withholding_percentage %>% U.S. tax withholding, your net amount is <%= cents_format(@net_amount_in_cents, no_cents_if_whole: false) %>.</strong></p>
  <p>Since your current payout threshold is set to $10.00, we’ll keep your funds in your Flexile account until your total (after taxes) meets or exceeds that amount.</p>
<% else %>
  <p>You’ve earned <%= cents_format(@dividend_amount_in_cents, no_cents_if_whole: false) %> from your investment in <%= @company.display_name %>, but your current <strong>payout threshold is set to <%= cents_format(@user.minimum_dividend_payment_in_cents, no_cents_if_whole: false) %></strong>. Since your balance hasn’t reached that yet, we’ll hold the funds in your Flexile account.</p>
<% end %>
  <p>Want to receive your distribution sooner? You can <%= link_to("update your threshold", "#{PROTOCOL}://#{DOMAIN}/settings/payouts") %> anytime.</p>
  <p>If you have any questions, just reply to this email.</p>
<p>Thanks,</p>
<p><b>The Flexile team</b></p>
