<h1>
  Upcoming distribution from <%= @company.name %>
</h1>

<p>
  <b>Based on your investment of
  <%= cents_format(@company_investor.investment_amount_in_cents, no_cents_if_whole: false) %> in <%= @company.name %>,
  you've been issued a return of capital amounting to <%= cents_format(@gross_amount_in_cents, no_cents_if_whole: false) %></b>.
</p>

<dl>
  <dt>Investment amount</dt>
  <dd><%= cents_format(@company_investor.investment_amount_in_cents, no_cents_if_whole: false) %></dd>

  <dt>Cumulative ROI</dt>
  <dd>
    <%= (@roi * 100.0).round(2) %>%
  </dd>

  <dt>Distribution amount</dt>
  <dd><%= cents_format(@gross_amount_in_cents, no_cents_if_whole: false) %></dd>

  <dt>Taxes withheld</dt>
  <dd>$0.00 (Return of capital - no tax withholding applies)</dd>

  <dt>Total to be paid</dt>
  <dd><%= cents_format(@gross_amount_in_cents, no_cents_if_whole: false) %></dd>
</dl>

<p>
  This amount will be deposited into your chosen payout method.
</p>
<p><strong>To avoid delays in your payment, make sure to review the following:</strong></p>
<ol>
  <li>
    <b>Your payout method is up to date</b><br>
    <% if @user.bank_account_for_dividends %>
      Your distribution will be paid to a bank account ending in ***<%= @user.bank_account_for_dividends.last_four_digits %>.
    <% end %>
  </li>
  <li>
    <b>You're comfortable with your minimum payout threshold</b><br>
    <% if @user.minimum_dividend_payment_in_cents > 0 %>
      Currently, amounts below
      <%= cents_format(@user.minimum_dividend_payment_in_cents, no_cents_if_whole: false) %>
      will not be paid out and accumulate instead.
    <% else %>
      Because your distribution payout threshold is set to $0, you will receive all dividends.
    <% end %>
  </li>
</ol>
<p>
  Please update your account information within 10 days, after which we will process your distribution.
</p>
<%= link_to("Review my settings", "#{PROTOCOL}://#{DOMAIN}/settings/tax", class: "button outline") %>
<p>
  If you have any questions or need assistance regarding the distribution process,
  please reply to this email.
</p>

<%= render "shared/email_signature" %>
