<p>Hello <%= @company_investor.user.name %>,</p>
<p><strong>Your <%= cents_format(@dividend_amount_in_cents, no_cents_if_whole: false) %> distribution from <%= @company.display_name %> is on hold.</strong></p>
<p>Your investment in <%= @company.display_name %> has generated a <%= cents_format(@dividend_amount_in_cents, no_cents_if_whole: false) %> distribution. However, we’re currently unable to send this payment due to international sanctions related to your country of residence.</p>
<p>We understand this is frustrating, and we’re sorry for the inconvenience. Unfortunately, we cannot process the payment at this time or provide a workaround. If this changes, we’ll notify you right away.</p>
<p>If you have any questions, just reply to this email.</p>
<p>Thanks,</p>
<p><b>The Flexile team</b></p>
