<!-- BEGIN: Email preview text -->
<div style="display: none; max-height: 0; overflow: hidden;">
  <% if @invoices_pending_approval_from_recipient.present? %>
    <% @invoices_pending_approval_from_recipient.first(@records_per_section).each do |invoice| %>
      <%= invoice.user.display_name %> submitted an invoice for <%= cents_format(invoice.total_amount_in_usd_cents, with_currency: false) %>.
    <% end %>
  <% elsif @invoices_pending_admin_approval.present? %>
    <% @invoices_pending_admin_approval.first(@records_per_section).each do |invoice| %>
      <%= invoice.user.display_name %> submitted an invoice for <%= cents_format(invoice.total_amount_in_usd_cents, with_currency: false) %>.
    <% end %>
  <% end %>
  <% if @processing_invoices.present? %>
    <%= @processing_invoices_count %>
    <%= "invoice".pluralize(@processing_invoices_count) %>
    <%= "is".pluralize(@processing_invoices_count) %>
    scheduled for payment.
  <% end %>
</div>

<div style="display: none; max-height: 0; overflow: hidden;">
  <!-- https://www.litmus.com/blog/the-little-known-preview-text-hack-you-may-want-to-use-in-every-email/ -->
  &#847; &zwnj; &nbsp; &#8199; &#65279; &#847; &zwnj; &nbsp; &#8199; &#65279; &#847; &zwnj; &nbsp; &#8199; &#65279; &#847; &zwnj; &nbsp; &#8199; &#65279; &#847; &zwnj; &nbsp; &#8199; &#65279; &#847; &zwnj; &nbsp; &#8199; &#65279; &#847; &zwnj; &nbsp; &#8199; &#65279; &#847; &zwnj; &nbsp; &#8199; &#65279;
  &#847; &zwnj; &nbsp; &#8199; &#65279; &#847; &zwnj; &nbsp; &#8199; &#65279; &#847; &zwnj; &nbsp; &#8199; &#65279; &#847; &zwnj; &nbsp; &#8199; &#65279; &#847; &zwnj; &nbsp; &#8199; &#65279; &#847; &zwnj; &nbsp; &#8199; &#65279; &#847; &zwnj; &nbsp; &#8199; &#65279; &#847; &zwnj; &nbsp; &#8199; &#65279;
  &#847; &zwnj; &nbsp; &#8199; &#65279; &#847; &zwnj; &nbsp; &#8199; &#65279; &#847; &zwnj; &nbsp; &#8199; &#65279; &#847; &zwnj; &nbsp; &#8199; &#65279; &#847; &zwnj; &nbsp; &#8199; &#65279; &#847; &zwnj; &nbsp; &#8199; &#65279; &#847; &zwnj; &nbsp; &#8199; &#65279; &#847; &zwnj; &nbsp; &#8199; &#65279;
  &#847; &zwnj; &nbsp; &#8199; &#65279; &#847; &zwnj; &nbsp; &#8199; &#65279; &#847; &zwnj; &nbsp; &#8199; &#65279; &#847; &zwnj; &nbsp; &#8199; &#65279; &#847; &zwnj; &nbsp; &#8199; &#65279; &#847; &zwnj; &nbsp; &#8199; &#65279; &#847; &zwnj; &nbsp; &#8199; &#65279; &#847; &zwnj; &nbsp; &#8199; &#65279;
</div>
<!-- END: Email preview text -->

<% if @pending_exercise_payments.present? %>
  <h1><%= @pending_exercise_payments_count %> <%= "contractor".pluralize(@pending_exercise_payments_count) %> <%= "is".pluralize(@pending_exercise_payments_count) %>  exercising options</h1>
  <ul>
    <% @pending_exercise_payments.each do |exercise| %>
      <li>
        <strong><%= exercise.company_investor.user.display_name %></strong> submitted an option exercise request for <pre><%= link_to cents_format(exercise.total_cost_cents, with_currency: false), "#{PROTOCOL}://#{DOMAIN}/people/#{exercise.company_investor.user.external_id}?#{URI.encode_www_form({ tab: "exercises" })}" %></pre>
      </li>
    <% end %>
  </ul>
<% end %>

<% if @invoices_pending_approval_from_recipient.present? %>
  <h1><%= @invoices_pending_approval_from_recipient_count %> <%= "invoice".pluralize(@invoices_pending_approval_from_recipient_count) %> <%= "requires".pluralize(@invoices_pending_approval_from_recipient_count) %> your approval</h1>
  <ul>
    <% @invoices_pending_approval_from_recipient.each do |invoice| %>
      <li>
        <strong><%= invoice.user.display_name %></strong>
        submitted an invoice for
        <pre><%= link_to cents_format(invoice.total_amount_in_usd_cents, with_currency: false), "#{PROTOCOL}://#{DOMAIN}/invoices/#{invoice.external_id}" %></pre>
      </li>
    <% end %>
  </ul>
<% end %>
<% if @invoices_pending_admin_approval.present? %>
  <h1><%= @invoices_pending_admin_approval_count %> <%= "invoice".pluralize(@invoices_pending_admin_approval_count) %> <%= "requires".pluralize(@invoices_pending_admin_approval_count) %> admin approval</h1>
  <ul>
    <% @invoices_pending_admin_approval.each do |invoice| %>
      <li>
        <strong><%= invoice.user.display_name %></strong>
        submitted an invoice for
        <pre><%= link_to cents_format(invoice.total_amount_in_usd_cents, with_currency: false), "#{PROTOCOL}://#{DOMAIN}/invoices/#{invoice.external_id}" %></pre>
      </li>
    <% end %>
  </ul>
<% end %>
<% if @rejected_invoices.present? %>
  <h1><%= @rejected_invoices_count %> <%= "invoice".pluralize(@rejected_invoices_count) %> <%= "is".pluralize(@rejected_invoices_count) %> pending submission</h1>
  <ul>
    <% @rejected_invoices.each do |invoice| %>
      <li>
        <strong><%= "#{invoice.user.display_name}'s" %></strong>
        invoice for
        <pre><%= link_to cents_format(invoice.total_amount_in_usd_cents, with_currency: false), "#{PROTOCOL}://#{DOMAIN}/invoices/#{invoice.external_id}" %></pre>
        was rejected
      </li>
    <% end %>
  </ul>
<% end %>
<% if @processing_invoices.present? %>
  <h1>
    <%= @processing_invoices_count %>
    <%= "invoice".pluralize(@processing_invoices_count) %>
    <%= "is".pluralize(@processing_invoices_count) %>
    scheduled for payment
  </h1>
<% end %>

<% if @invoices_pending_approval_from_recipient.present? %>
  <%= link_to @invoices_pending_approval_from_recipient_count > 1 ? "Approve invoices" : "Approve invoice",
              "#{PROTOCOL}://#{DOMAIN}/invoices",
              class: "button" %>
<% end %>

<%= render "shared/email_signature" %>
