<h1 class="text-3xl leading-9 font-bold">
  <% inviter = url ? user.invited_by.name : company.name %>
  <% title_ending = "#{contractor.hourly? ? ", track your hours," : nil} and get paid" %>
  <%= "#{inviter} has invited you to join Flexile to sign your contract#{title_ending}." %>
</h1>
<p class="mb-4">
  It takes a few minutes to sign up–we'll need your personal information and your bank account info to pay you out.
</p>
<dl>
  <dt>Role</dt>
  <dd><b><%= contractor.company_role.name %></b></dd>

  <dt>Start date</dt>
  <dd><b><%= contractor.started_at.strftime("%B %d, %Y") %></b></dd>

  <dt>Compensation</dt>
  <dd>
    <b>
      <% if contractor.hourly? %>
        <%= "$#{contractor.pay_rate_in_subunits / 100.0}/hr, " \
            "$#{number_to_human(contractor.avg_yearly_usd, format: "%n%u", precision: 0,
                                                           units: { thousand: "K", million: "M" })}" \
            "/yr" %>
      <% elsif contractor.salary? %>
        <%= "#{money_format(contractor.pay_rate_in_subunits / 100.0)}/yr" %>
      <% else %>
        <%= "#{money_format(contractor.pay_rate_in_subunits / 100.0)} per project" %>
      <% end %>
    </b>
  </dd>

  <% if contractor.hourly? %>
    <dt>Average hours</dt>
    <dd><b><%= "#{contractor.hours_per_week}/week" %></b></dd>
  <% end %>

  <% if contractor.company_role.expense_card_enabled? %>
    <dt>Expense limit</dt>
    <dd>
        <b>
          <% if contractor.company_role.expense_card_has_limit? %>
            <%= cents_format(contractor.company_role.expense_card_spending_limit_cents) %>
          <% else %>
            Unlimited
          <% end %>
        </b>
    </dd>
  <% end %>
</dl>

<%= link_to("Review and sign your contract", url || "#{PROTOCOL}://#{DOMAIN}/documents?sign=#{user.documents.unsigned.where(docuseal_submission_id: nil).first&.id}", class: "button") %>
