<h1>You've been invited to Flexile</h1>

<p>You've been invited to Flexile by <%= @company_worker.user.name %>. Here are the details of their role:</p>

<dl>
  <dt>Role</dt>
  <dd><b><%= @company_worker.role %></b></dd>

  <dt>Start date</dt>
  <dd><b><%= @company_worker.started_at.strftime("%B %d, %Y") %></b></dd>

  <dt>Compensation</dt>
  <dd>
    <b>
      <% if @company_worker.hourly? %>
        <%= "$#{@company_worker.pay_rate_in_subunits / 100.0}/hr, " \
            "$#{number_to_human(@company_worker.avg_yearly_usd, format: "%n%u", precision: 0,
                                                                units: { thousand: "K", million: "M" })}" \
            "/yr" %>
      <% elsif @company_worker.project_based? %>
        <%= "#{money_format(@company_worker.pay_rate_in_subunits / 100.0)} per project" %>
      <% end %>
    </b>
  </dd>

  <% if @company_worker.hourly? %>
    <dt>Average hours</dt>
    <dd><b><%= "#{@company_worker.hours_per_week}/week" %></b></dd>
  <% end %>
</dl>

<p>Flexile is a platform that allows you to manage your invoices and payments in one place.</p>

<p>To get started, please click the link below to sign up and review the contract details.</p>

<p><%= link_to "Sign up and review contract", @url, class: "button" %></p>

<p>Best,<br>
Sahil, CEO of Flexile</p>
