<h1>Your contract with <%= @company.name %> is ending.</h1>

<p>Hey <%= @user.name %>,</p>

<p>Your contract with <%= @company.name %> is ending on <strong><%= @company_worker.ended_at.to_fs(:long_date) %></strong>.</p>

<%= link_to "Submit your invoice", "#{PROTOCOL}://#{DOMAIN}/invoices/new", class: "button" %>

<p>You can still use Flexile to see and download your invoice history<%= @company_worker.ended_at.future? ? " once your contract ends" : "" %>.</p>

<%= render "shared/email_signature" %>
