<h1>
  <%= @company.name %> has granted you stock options
</h1>

<p>
  Taking on this grant comes at no cost to you, nor does it obligate you to exercise your options.
</p>

<dl>
  <dt>Issuer</dt>
  <dd>
    <%= @company.name %>
  </dd>
  <dt>Number of options</dt>
  <dd>
    <%= number_with_delimiter(@equity_grant.number_of_shares) %>
  </dd>
  <dt>Exercise price</dt>
  <dd>
    <%= money_format(@equity_grant.exercise_price_usd) %>
  </dd>
  <dt>Grant date</dt>
  <dd>
    <%= @equity_grant.issued_at.to_date.to_fs(:medium) %>
  </dd>
  <dt>Expiration date</dt>
  <dd>
    <%= @equity_grant.expires_at.strftime("%d %b %Y") %>
    <% if @equity_grant.voluntary_termination_exercise_months.present? %>
      <br>
      OR
      <br>
      <%= @equity_grant.voluntary_termination_exercise_months %> months after leaving <%= @company.name %>
    <% end %>
  </dd>
</dl>

<% if @equity_grant.vesting_trigger_scheduled? %>
  <% vesting_text = "Your options will vest over #{pluralize(@equity_grant.vesting_schedule.total_vesting_duration_months, "month")}"
     vesting_text += " starting #{@equity_grant.period_started_at.to_date.to_fs(:medium)}"

     if @equity_grant.vesting_schedule.cliff_duration_months > 0
       vesting_text += " with a #{pluralize(@equity_grant.vesting_schedule.cliff_duration_months, "month")} cliff"
     end

     if @equity_grant.vesting_schedule.vesting_frequency_months == 1
       vesting_text += " with vesting occurring monthly"
     else
       vesting_text += " with vesting occurring every #{pluralize(@equity_grant.vesting_schedule.vesting_frequency_months, "month")}"
     end

     if @equity_grant.vesting_schedule.cliff_duration_months > 0
       vesting_text += " after cliff"
     end

     vesting_text += "." %>

  <p><%= vesting_text %></p>
<% elsif @equity_grant.vesting_trigger_invoice_paid? %>
  <p>
    Options will be vested upon each paid invoice, based on the amount of cash swapped for equity and the last
    public valuation of the company. Any options not vested by the end of this year will be forfeited, and a new grant will be issued for the next calendar year.
  </p>
<% end %>

<%= link_to "Sign and accept your grant",
            "#{PROTOCOL}://#{DOMAIN}/stock_options_contracts/#{Document.equity_plan_contract.find_by(equity_grant: @equity_grant).id}",
            class: "button" %>
