<h1>
  Please re-enter your bank account details to receive your payment of <%= Money.from_amount(@amount, @currency).format(with_currency: true, symbol: false, no_cents_if_whole: true) %>
</h1>
<dl>
  <dt>Invoice ID</dt>
  <dd>
    <%= @invoice.invoice_number %>
  </dd>
  <dt>Invoice amount</dt>
  <dd>
    <%= cents_format(@invoice.total_amount_in_usd_cents, with_currency: true, symbol: false) %>
  </dd>
  <dt>Bank account</dt>
  <dd>
    ****<%= @payment.recipient_last4 %>
  </dd>
</dl>
<p>
  There was an issue with your bank account details preventing payment processing. Please log into your account to re-enter your bank details.
</p>

<p>
  We'll try to process your payment again after you update your bank details.
</p>

<%= render "shared/email_signature" %>
